
<section class="m-4 dark:text-white">

    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-2 mt-4">
        
        Update To-do Item
    
    </h1>

    <form [formGroup]="editTodoForm" 
          (ngSubmit)="handleEditTodoSubmit()" 
          class="my-4">

        <div class="mb-4">

            <label for="todo" 
                   class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">To-do</label> 

            <input id="todo" 
                   type="text" 
                   formControlName="todo"
                   placeholder="Insert a to-do item here"
                   class="p-2 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500">

            @if(editTodoSubmitted && editTodoForm.controls.todo.errors)
            {
                @if(editTodoForm.controls.todo.errors['required'])
                {
                    <p class="form-error w-full">To-do item cannot be empty!</p>
                }
            }

        </div>

        <div class="mb-4">
            <!-- [checked] not necessary, since the use of formControlName -->
            <input id="done"
                   type="checkbox" 
                   [checked]="this.editTodoForm.value.done ? 'checked' : null" 
                   formControlName="done"
                   class="w-4 h-4 mr-2 accent-teal-600 text-white dark:accent-amber-400 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">

            <label for="done" 
                   class="mb-2 text-sm font-bold text-gray-900 dark:text-white">Done</label>

        </div>

        <button type="submit" 
                class="p-2 w-full mt-2 sm:mt-0 text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-500 font-medium rounded-lg text-sm focus:outline-none">
            
            Save changes

        </button>
    </form>

</section>
